html, body, .ember-view {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #A9D5DB;
}

.main-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.left-column,
.right-column {
  padding: 20px;
  overflow-y: auto;
}

.left-column {
  width: 40%;
  border-right: 1px solid #2A5E65;
  height: 100%;
  padding-top: 51px;
}

.right-column {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #18363A;
}

.top {
  padding-bottom: 10px;
}

.recipe-box {
  background: #59afba;
  padding: 10px 20px;
  color: #D4EAED;
  border-radius: 3px;
  box-shadow: 0px 0px 20px -9px #52ABB7;
  height: 105px;
  cursor: pointer;
  margin-top: 10px;
}

.recipe-box:hover {
  background: #52ABB7;
}

.recipe-box-title {
  font-size: 30px;
  font-weight: bold;
}

.pull-right {
  float: right;
}

.margin-10 {
  margin: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.header-low {
  width: 210px;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 5px;
}

.image {
  margin-bottom: 30px;
}

.image img {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px #59afba;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.ingredient {
  margin: 5px 0;
}

.description {
  width: 60%;
  text-align: center;
  margin-bottom: 75px;
}

.comments {
  width: 50%;
  position: relative;
  bottom: 33px;
}

.comment-box {
  min-height: 65px;
  padding: 10px 20px;
}

.comment-box:nth-child(odd) {
  background: #5ca8ba91;
}

.comment-author {
  padding-bottom: 10px;
}

.comments-list {
  margin-top: 10px;
}

.add-comment input {
  border: none;
  background: #6990ba;
  padding: 4px 5px;
  outline: none;
  color: #D4EAED;
  width: calc(100% - 90px);
}

.add-comment input::placeholder {
  color: #D4EAED;
}

.new-comment-button {
  border: none;
  background: #6990ba;
  padding: 5px 15px;
  /* border-radius: 13px; */
  margin-left: 10px;
  color: #D4EAED;
  cursor: pointer;
  outline: none;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
}

.top-bar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 40%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 11px;
}

.add-new-recipe {
  border: none;
  background: #6990ba;
  padding: 10px 20px;
  /* border-radius: 13px; */
  margin: 0 10px;
  color: #D4EAED;
  cursor: pointer;
  outline: none;
}

.new-recipe-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #15151545;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-box {
  width: 650px;
  height: 400px;
  color: #D4EAED;
  background: #12282B;
  padding: 20px;
}

.new-box input, textarea {
  outline: none;
}

.first-span {
  display: inline-block;
  width: 125px;
  margin: 5px 0;
}

.textarea-span {
  vertical-align: top;
}

.bottom-description {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
  display: inline-block;
}

.buttons {
  position: relative;
  top: 40px;
  text-align: right;
}

.buttons button{
  border: none;
  background: #6990ba;
  padding: 10px 20px;
  /* border-radius: 13px; */
  margin-left: 10px;
  color: #D4EAED;
  cursor: pointer;
  outline: none;
}

.recipe-box-buttons {
  display: flex;
  justify-content: flex-end;
}

.recipe-box-buttons button{
  border: none;
  background: #6990ba;
  padding: 5px 10px;
  /* border-radius: 13px; */
  margin-left: 10px;
  margin-bottom: 5px;
  color: #D4EAED;
  cursor: pointer;
  outline: none;
}

.no-recipe {
  margin: auto;
  font-size: 24px;
}

.register-modal .new-box {
  height: 60px;
}

.register-modal .buttons {
  top: unset !important;
  bottom: 43px;
  width: 208px;
  left: 443px;
}

.ingredients-input {
  width: calc(100% - 134px);
}

.filter {
  margin-right: 20px;
}

.filter select {
  padding: 10px;
}