<div class="main-container">
  <div class="left-column">
    <div class="top-bar">
      {{#if dataApi.whoami}}
        <button class="add-new-recipe" {{action "addNewRecipe"}}>Dodaj przepis</button>
        <button class="logout-button add-new-recipe"{{action "logout"}}>Wyloguj</button>
        <div class="filter">
          <span>Filtrowanie: </span>
          <select class="add-new-recipe" onchange={{action 'pickFilterType' value="target.value"}}>
            {{#each filterTypes as |type|}}
              <option value={{type}}>{{type}}</option>
            {{/each}}
          </select>
          {{#if (not-eq filterType "Wszystko")}}
            {{#if (eq filterType "Rodzaj")}}
              <select class="add-new-recipe" onchange={{action 'pickFilterOption' value="target.value"}}>
                {{#each recipeTypes as |recipeType|}}
                  <option value={{recipeType}}>{{recipeType}}</option>
                {{/each}}
              </select>
            {{/if}}
            {{#if (eq filterType "Trudność")}}
              <select class="add-new-recipe" onchange={{action 'pickFilterOption' value="target.value"}}>
                {{#each hardnessTypes as |recipeType|}}
                  <option value={{recipeType}}>{{recipeType}}</option>
                {{/each}}
              </select>
            {{/if}}
            {{#if (eq filterType "Autor")}}
              <select class="add-new-recipe" onchange={{action 'pickFilterOption' value="target.value"}}>
                {{#each dataApi.usersData as |user|}}
                  <option value={{user.username}}>{{user.username}}</option>
                {{/each}}
              </select>
            {{/if}}
          {{/if}}
        </div>
        Witaj {{dataApi.whoami.username}}!

        {{else}}
          <button class="login-button add-new-recipe" {{action "loginModal"}}>Zaloguj</button>
          <button class="register-button add-new-recipe" {{action "registerModal"}}>Rejestracja</button>

          <div class="filter">
          <span>Filtrowanie: </span>
          <select class="add-new-recipe" onchange={{action 'pickFilterType' value="target.value"}}>
            {{#each filterTypes as |type|}}
              <option value={{type}}>{{type}}</option>
            {{/each}}
          </select>
          {{#if (not-eq filterType "Wszystko")}}
            {{#if (eq filterType "Rodzaj")}}
              <select class="add-new-recipe" onchange={{action 'pickFilterOption' value="target.value"}}>
                {{#each recipeTypes as |recipeType|}}
                  <option value={{recipeType}}>{{recipeType}}</option>
                {{/each}}
              </select>
            {{/if}}
            {{#if (eq filterType "Trudność")}}
              <select class="add-new-recipe" onchange={{action 'pickFilterOption' value="target.value"}}>
                {{#each hardnessTypes as |recipeType|}}
                  <option value={{recipeType}}>{{recipeType}}</option>
                {{/each}}
              </select>
            {{/if}}
            {{#if (eq filterType "Autor")}}
              <select class="add-new-recipe" onchange={{action 'pickFilterOption' value="target.value"}}>
                {{#each dataApi.usersData as |user|}}
                  <option value={{user.username}}>{{user.username}}</option>
                {{/each}}
              </select>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </div>
    {{#each dataApi.recipesData as |recipe index|}}
    {{#if (not filterOption)}}
      <div class="recipe-box" {{action "pickRecipe" recipe}}>
        <div class="top">
          <span class="recipe-box-title"> {{recipe.name}} </span>

          <span class="pull-right margin-10"> {{recipe.hardness}} </span>
          <span class="pull-right margin-10"> {{recipe.time}} </span>
          <span class="pull-right margin-10"> {{recipe.type}} </span>
        </div>

        <div class="bottom">
          <span> {{recipe.author}} </span>
          <span class="bottom-description"> {{recipe.description}} </span>

          {{#if (eq dataApi.whoami.role "admin")}}
            <div class="recipe-box-buttons">
              <button {{action "editRecipe" recipe}}> Edytuj </button>
              <button {{action "deleteRecipe" recipe}}> Usuń </button>
            </div>
          {{/if}}
        </div>
      </div>
      {{else}}
        {{#if (and filterOption (eq (get recipe filterTypeProperty) filterOption))}}
          <div class="recipe-box" {{action "pickRecipe" recipe}}>
            <div class="top">
              <span class="recipe-box-title"> {{recipe.name}} </span>

              <span class="pull-right margin-10"> {{recipe.hardness}} </span>
              <span class="pull-right margin-10"> {{recipe.time}} </span>
              <span class="pull-right margin-10"> {{recipe.type}} </span>
            </div>

            <div class="bottom">
              <span> {{recipe.author}} </span>
              <span class="bottom-description"> {{recipe.description}} </span>

              {{#if (eq dataApi.whoami.role "admin")}}
                <div class="recipe-box-buttons">
                  <button {{action "editRecipe" recipe}}> Edytuj </button>
                  <button {{action "deleteRecipe" recipe}}> Usuń </button>
                </div>
              {{/if}}
            </div>
          </div>
        {{/if}}
    {{/if}}
    {{/each}}
  </div>
  <div class="right-column">
    {{#if dataApi.selectedRecipe}}
      <div class="header">
        <span class="title"> {{dataApi.selectedRecipe.name}} </span>
        <span class="author"> {{dataApi.selectedRecipe.author}} </span>
        <div class="header-low">
          <span> {{dataApi.selectedRecipe.time}} </span>
          <span> {{dataApi.selectedRecipe.type}} </span>
          <span> {{dataApi.selectedRecipe.hardness}} </span>
        </div>
      </div>

      <div class="image">
        <img src={{dataApi.selectedRecipe.image}} alt="Zdjęcie potrawy">
      </div>

      <div class="ingredients">
        <span class="section-title"> Składniki: </span>
        {{#each dataApi.selectedRecipe.ingredients as |ingredient|}}
          <span class="ingredient">- {{ingredient}} </span>
        {{/each}}
      </div>

      <div class="description">
        <div class="section-title"> Opis: </div>
        {{dataApi.selectedRecipe.description}}
      </div>

      <div class="comments">
        <span class="section-title"> Komentarze: </span>
        {{#if dataApi.whoami}}
          <div class="add-comment">
            {{input placeholder="Treść komentarza..." type="text" value=newCommentValue}} <button class="new-comment-button" {{action "addNewComment" dataApi.selectedRecipe}}> Dodaj </button>
          </div>
        {{/if}}
        <div class="comments-list">
          {{#each dataApi.selectedRecipe.comments as |comment|}}
            <div class="comment-box">
              <div class="comment"> {{comment}} </div>
            </div>
          {{/each}}
        </div>
      </div>

      {{else}}
        <div class="no-recipe">
          W tym momencie nie ma żadnego przepisu :c
        </div>
    {{/if}}
  </div>
  {{#if showNewRecipeModal}}
    {{add-new-recipe showNewRecipeModal=showNewRecipeModal recipeToEdit=recipeToEdit}}
  {{/if}}
  {{#if showRegisterModal}}
    {{register-modal showRegisterModal=showRegisterModal}}
  {{/if}}
  {{#if showLoginModal}}
    {{login-modal showLoginModal=showLoginModal}}
  {{/if}}
</div>
