<div class="new-recipe-modal">
  <div class="new-box">
    <div class="row">
      <span class="first-span">
        Nazwa: 
      </span>
      {{input type="text" value=name}}
    </div>
    <div class="row">
      <span class="first-span">
        Typ przepisu:
      </span>
      <span>
        <select onchange={{action 'changeType' value="target.value"}}>
          {{#each types as |type|}}
            <option value={{type}}>{{type}}</option>
          {{/each}}
        </select>
      </span>
    </div>
    <div class="row">
      <span class="first-span">
        Trudność
      </span>
      <span>
        <select onchange={{action 'changeHardness' value="target.value"}}>
          {{#each hardnessTypes as |hardness|}}
            <option value={{hardness}}>{{hardness}}</option>
          {{/each}}
        </select>
      </span>
    </div>
    <div class="row">
      <span class="first-span">
        Składniki:
      </span>
      <span>
        {{input type="text" class="ingredients-input" value=ingredients placeholder="Składnik 1, Składnik 2, ..."}}
      </span>
    </div>
    <div class="row">
      <span class="first-span">
        Czas wykonania
      </span>
      <span>
        {{input type="text" value=time placeholder="12:00 min"}}
      </span>
    </div>
    <div class="row">
      <span class="first-span">
        Link do zdjęcia
      </span>
      <span>
        {{input type="text" value=image}}
      </span>
    </div>
    <div class="row">
      <span class="first-span textarea-span">
        Opis
      </span>
      <span>
        <textarea maxlength="254" class="textarea" cols="50" rows="10"></textarea>
      </span>
    </div>
    <div class="buttons">
      <button class="save-button" {{action "cancel"}}>Anuluj</button>
      <button class="cancel-button" {{action "save"}}>Zapisz</button>
    </div>
  </div>
</div>