<div class="new-recipe-modal register-modal">
  <div class="new-box">
    <div class="row">
      <span class="first-span">
        Login: 
      </span>
      {{input type="text" value=username}}
    </div>
    <div class="row">
      <span class="first-span">
        Hasło:
      </span>
      <span>
        {{input type="text" value=password}}
      </span>
    </div>
    <div class="buttons">
      <button class="save-button" {{action "cancel"}}>Anuluj</button>
      <button class="cancel-button" {{action "save"}}>Rejestracja</button>
    </div>
  </div>
</div>